/* COMMON */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* BTN */

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  color: #272727;
  border-radius: 3px;
}

@media (min-width: 1024px) {
  .btn {
    opacity: 0.6;
    transition: opacity 0.2s ease;
  }

  .btn:hover {
    opacity: 1;
  }
}

/* HOME */

.home {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgb(39, 39, 39, 0.8), rgb(39, 39, 39, 0.8)),
    url(../../assets/img/bg/bg_min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (min-width: 660px) {
  .home {
    background-image: linear-gradient(
        to right,
        rgb(39, 39, 39, 0.8),
        rgb(39, 39, 39, 0.8)
      ),
      url(../../assets/img/bg/bg.jpg);
  }
}

/* BIO */

.bio {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.bio_name {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

.bio_occupation {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0 10px;
}

/* CONTACTS */

.contacts {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts_link {
  color: #fff;
  font-size: 20px;
  padding: 6px;
}

@media (min-width: 1024px) {
  .contacts_link {
    opacity: 0.6;
    transition: opacity 0.2s ease;
  }

  .contacts_link:hover {
    opacity: 1;
  }
}
