/* COMMON */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* BTN */

.btn {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  color: #272727;
  border-radius: 3px;
}

@media (min-width: 1024px) {
  .btn {
    font-size: 0.9rem;
  }
}

/* HOME */

.home {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(39, 39, 39, 0.8),
      rgba(39, 39, 39, 0.8)
    ),
    url(../../assets/img/bg/bg_min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (min-width: 660px) {
  .home {
    background-image: linear-gradient(
        to right,
        rgba(39, 39, 39, 0.8),
        rgba(39, 39, 39, 0.8)
      ),
      url(../../assets/img/bg/bg.jpg);
  }
}

/* BIO */

.bio {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.bio_name {
  font-family: 'Kaushan Script', cursive;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.bio_occupation {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0 10px;
}

@media (min-width: 1024px) {
  .bio_name {
    font-size: 5rem;
  }

  .bio_occupation {
    font-size: 1.8rem;
  }
}

/* CONTACTS */

.contacts {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts_link {
  color: #fff;
  font-size: 1rem;
  padding: 0.3rem;
}

@media (min-width: 1024px) {
  .contacts_link {
    font-size: 1.2rem;
    padding: 0.4rem;
  }
}

/* PORTFOLIO */

.portfolio {
  min-height: 100%;
}

.portfolio_intro {
  height: 30vh;
  background-image: linear-gradient(
      to right,
      rgba(39, 39, 39, 0.8),
      rgba(39, 39, 39, 0.8)
    ),
    url(../../assets/img/bg/bg_min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.portfolio_intro_name {
  color: #fff;
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
  margin-bottom: 10px;
}

.portfolio_list {
  padding: 20px 0;
  width: 300px;
  margin: 0 auto;
}

.portfolio_item {
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 2px 2px 6px rgb(39, 39, 39);
  position: relative;
  margin-bottom: 20px;
}

.portfolio_item.webpaint {
  background-image: url('../img/projects/webpaint.jpg');
}

.portfolio_item.activebox {
  background-image: url('../img/projects/activebox.jpg');
}

.portfolio_item.pixabay-api {
  background-image: url('../img/projects/pictures-searcher.jpg');
}

.portfolio_item.timer {
  background-image: url('../img/projects/timer.jpg');
}

.portfolio_item:last-child {
  margin-bottom: 0;
}

.portfolio_item .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(39, 39, 39, 0.93);
}

.portfolio_item .overlay_title {
  color: #fff;
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 10px;
}

.portfolio_item .overlay_stack {
  color: #fff;
  opacity: 0.7;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  margin-bottom: 20px;
}

@media (min-width: 440px) {
  .portfolio_list {
    width: 420px;
  }

  .portfolio_item {
    width: 420px;
    height: 280px;
  }
}

@media (min-width: 660px) {
  .portfolio_intro {
    background-image: linear-gradient(
        to right,
        rgba(39, 39, 39, 0.8),
        rgba(39, 39, 39, 0.8)
      ),
      url(../../assets/img/bg/bg.jpg);
  }
}

@media (min-width: 768px) {
  .portfolio_list {
    width: 740px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .portfolio_item {
    width: 360px;
    height: 240px;
  }

  .portfolio_item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .portfolio_intro_name {
    font-size: 4.5rem;
  }

  .portfolio_list {
    width: 920px;
  }

  .portfolio_item {
    width: 450px;
    height: 300px;
  }

  .portfolio_item .overlay_title {
    font-size: 2rem;
  }

  .portfolio_item .overlay_stack {
    font-size: 1.2rem;
  }
}

/* visually-hidden */

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
