/* COMMON */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: consolas;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* HOME */

.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #272727;
  background: linear-gradient(to right, #141e30, #243b55);
}

/* BIO */

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio_name {
  margin-bottom: 10px;
  font-size: 50px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 4px #40e0d0;
}

@media (min-width: 768px) {
  .bio_name {
    margin-bottom: 20px;
    font-size: 90px;
  }
}

.bio_occupation {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .bio_occupation {
    margin-bottom: 30px;
    font-size: 34px;
  }
}

@media (orientation: landscape) and (max-width: 1023px) {
  .bio_name--portfolio,
  .bio_occupation--portfolio {
    display: none;
  }
}

.bio_btn {
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #141e30;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 2px 2px 4px #40e0d0;
}

@media (min-width: 768px) {
  .bio_btn {
    padding: 10px 12px;
    font-size: 20px;
  }
}

/* CONTACT_LIST */

.contact-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
}

@media (min-width: 768px) {
  .contact-list {
    top: 20px;
    right: 20px;
  }
}

.contact-list_link {
  display: block;
  padding: 4px;
  font-size: 14px;
  color: #fff;
}

@media (min-width: 768px) {
  .contact-list_link {
    padding: 6px;
    font-size: 22px;
  }
}

/* PORTFOLIO */

.portfolio {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #141e30, #243b55);
}

.portfolio_inner-top {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .portfolio_inner-top {
    height: 45vh;
  }
}

.portfolio_inner-bottom {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

/* SLIDER */

.swiper-container .slider-item {
  width: auto;
  padding: 10px;
  border: 4px solid #fff;
}

.slider-item_image {
  width: 240px;
  border: 4px solid #fff;
}

@media (min-width: 768px) {
  .slider-item_image {
    width: 400px;
  }
}

.slider-item_title,
.slider-item_stack {
  display: block;
  padding: 4px 0;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.slider-item_title {
  font-size: 16px;
  text-shadow: 2px 2px 2px #40e0d0;
}

@media (min-width: 768px) {
  .slider-item_title {
    font-size: 18px;
  }
}

.slider-item_stack {
  font-size: 12px;
  text-transform: uppercase;
}

.slider-item_btns {
  padding: 4px;
  display: flex;
  justify-content: center;
}

.slider-item_btn {
  padding: 4px 8px;
  margin: 0 4px;
  font-size: 14px;
  text-decoration: none;
  color: #141e30;
  background-color: #fff;
  box-shadow: 2px 2px 4px #40e0d0;
}

@media (min-width: 768px) {
  .slider-item_btn {
    font-size: 16px;
  }
}

/* VISUALLY-HIDDEN */

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
