/* COMMON */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* BTN */

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  color: #272727;
  border-radius: 3px;
}

/* PORTFOLIO */

.portfolio {
  background-color: rgb(39, 39, 39);
  min-height: 100%;
}

.portfolio_intro {
  height: 40vh;
  background-image: linear-gradient(
      to right,
      rgba(39, 39, 39, 0.8),
      rgba(39, 39, 39, 0.8)
    ),
    url(../../assets/img/bg/bg_min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.portfolio_intro_name {
  color: #fff;
  font-family: 'Kaushan Script', cursive;
  font-size: 44px;
  margin-bottom: 10px;
}

.portfolio_list {
  padding: 20px 0;
  width: 300px;
  margin: 0 auto;
}

.portfolio_item {
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 10px;
}

.portfolio_item.webpaint {
  background-image: url('../img/projects/webpaint.jpg');
}

.portfolio_item.activebox {
  background-image: url('../img/projects/activebox.jpg');
}

.portfolio_item.pixabay-api {
  background-image: url('../img/projects/pictures-searcher.jpg');
}

.portfolio_item.timer {
  background-image: url('../img/projects/timer.jpg');
}

.portfolio_item:last-child {
  margin-bottom: 0;
}

.portfolio_item .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(39, 39, 39, 0.93);
}

.portfolio_item .overlay_title {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

.portfolio_item .overlay_stack {
  color: #fff;
  opacity: 0.7;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 10px;
}

@media (min-width: 440px) {
  .portfolio_list {
    width: 420px;
  }

  .portfolio_item {
    width: 420px;
    height: 280px;
  }
}

@media (min-width: 660px) {
  .portfolio_intro {
    background-image: linear-gradient(
        to right,
        rgb(39, 39, 39, 0.8),
        rgb(39, 39, 39, 0.8)
      ),
      url(../../assets/img/bg/bg.jpg);
  }
}

@media (min-width: 768px) {
  .portfolio_list {
    width: 730px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .portfolio_item {
    width: 360px;
    height: 240px;
  }

  .portfolio_item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .portfolio_list {
    width: 910px;
  }

  .portfolio_item {
    width: 450px;
    height: 300px;
  }
}

/* visually-hidden */

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
