* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ROOT */

.root {
  height: 100vh;
  background-image: linear-gradient(to right, rgb(39, 39, 39, 0.8), rgb(39, 39, 39, 0.8)),
    url(../assets/img/bg/bg_min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (min-width: 660px) {
  .root {
    background-image: linear-gradient(
        to right,
        rgb(39, 39, 39, 0.8),
        rgb(39, 39, 39, 0.8)
      ),
      url(../assets/img/bg/bg.jpg);
  }
}

/* BIO-BUILD */

.bio,
.build {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.bio_name,
.build_title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

.bio_occupation,
.build_subtitle {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

/* BTN */

.btn {
  display: block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #272727;
  background-color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

@media (min-width: 1024px) {
  .btn {
    opacity: 0.6;
    transition: opacity 0.2s ease;
  }

  .btn:hover {
    opacity: 1;
  }
}

/* CONTACTS */

.contacts {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts_link {
  color: #fff;
  font-size: 20px;
  padding: 6px;
}

@media (min-width: 1024px) {
  .contacts_link {
    opacity: 0.6;
    transition: opacity 0.2s ease;
  }

  .contacts_link:hover {
    opacity: 1;
  }
}

/* BACK-ARROW */

.back-arrow {
  font-size: 20px;
  color: #272727;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
